.ms-container {
  position: relative;
  top: 50%;
  width: 340px;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ms-container:before, .ms-container:after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.ms-container:before {
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(25%, #354051), to(rgba(53, 64, 81, 0)));
  background-image: -webkit-linear-gradient(left, #354051 25%, rgba(53, 64, 81, 0));
  background-image: -o-linear-gradient(left, #354051 25%, rgba(53, 64, 81, 0));
  background-image: linear-gradient(to right, #354051 25%, rgba(53, 64, 81, 0));
}

.ms-container:after {
  right: 0;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(25%, #354051), to(rgba(53, 64, 81, 0)));
  background-image: -webkit-linear-gradient(right, #354051 25%, rgba(53, 64, 81, 0));
  background-image: -o-linear-gradient(right, #354051 25%, rgba(53, 64, 81, 0));
  background-image: linear-gradient(to left, #354051 25%, rgba(53, 64, 81, 0));
}

.ms-track {
  position: relative;
  left: calc(50% - 62.5px);
  white-space: nowrap;
  font-size: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  will-change: transform;
}

.ms-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 125px;
  height: 540px;
  font-size: 100px;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  will-change: transform;
}

:root {
  --progress: 100;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
}

body:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-left: 50vw solid #FF6E6E;
  border-right: 50vw solid #FF6E6E;
  border-top: 50vh solid #354051;
  border-bottom: 50vh solid #354051;
  z-index: -1;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 340px;
  height: 540px;
  background-color: #354051;
  -webkit-box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.container:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.progress:before {
  content: '';
  position: absolute;
  left: calc(50% - 30px);
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: #FF6E6E;
  border-radius: 100%;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.8s -webkit-transform;
  transition: 0.8s -webkit-transform;
  -o-transition: 0.8s transform;
  transition: 0.8s transform;
  transition: 0.8s transform, 0.8s -webkit-transform;
}

.progress:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 50px 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 50px 0 50px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(calc(var(--progress) * 1%));
      -ms-transform: translateY(calc(var(--progress) * 1%));
          transform: translateY(calc(var(--progress) * 1%));
  -webkit-transition: 0.95s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.95s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: 0.95s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.95s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.95s transform cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.95s -webkit-transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 100px;
  font-family: 'Roboto Mono', monospace;
  color: #FFFFFF;
  pointer-events: none;
  opacity: 0;
  z-index: 3;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.button {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 50px;
  width: 60px;
  height: 60px;
  padding: 0;
  color: transparent;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 100%;
  text-indent: -999px;
  z-index: 2;
  cursor: pointer;
}

.button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
  -o-transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
  transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
}

.button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  -webkit-box-shadow: inset 0 0 0 20px white;
          box-shadow: inset 0 0 0 20px white;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  pointer-events: none;
  z-index: -1;
}

.container--running .progress:before {
  -webkit-transform: scale(17);
      -ms-transform: scale(17);
          transform: scale(17);
  -webkit-transition: 0.8s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.8s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: 0.8s transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.8s transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.8s transform cubic-bezier(0.6, -0.28, 0.735, 0.045), 0.8s -webkit-transform cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.container--running .counter {
  opacity: 1;
  -webkit-transition: 1s opacity;
  -o-transition: 1s opacity;
  transition: 1s opacity;
}

.container--running .button:before {
  background-color: #354051;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
  -o-transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
  transition: 0.5s 0.5s transform, 0.5s 0.5s background-color;
}

.container--running .button:after {
  opacity: 1;
  -webkit-transform: scale(2.5);
      -ms-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: all 0.8s, opacity 0.3s;
  -o-transition: all 0.8s, opacity 0.3s;
  transition: all 0.8s, opacity 0.3s;
}
