.ms--images {
  position: relative;
  overflow: hidden;
}

.ms--images.ms-container--horizontal {
  width: 100%;
  height: 400px;
  max-width: 100%;
}

.ms--images.ms-container--horizontal .ms-track {
  left: calc(50% - 350px);
}

.ms--images.ms-container--horizontal .ms-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.ms--images .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--images .ms-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 700px;
  height: 400px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--images {
  left: calc(50% - 280px);
}

.ms--images.ms-container--horizontal .ms-track {
  left: -70px;
}

.ms--images .ms-slide:nth-child(1) .ms-slide__image {
  background-image: url("../portfolio-carousel/img/harvey-gibson-498362-unsplash.jpg");
}

.ms--images .ms-slide:nth-child(2) .ms-slide__image {
  background-image: url("../portfolio-carousel/img/andre-hunter-461305-unsplash.jpg");
}

.ms--images .ms-slide:nth-child(3) .ms-slide__image {
  background-image: url("../portfolio-carousel/img/joanna-nix-389128-unsplash.jpg");
}

.ms--images .ms-slide:nth-child(4) .ms-slide__image {
  background-image: url("../portfolio-carousel/img/jurica-koletic-321003-unsplash.jpg");
}

.ms--images .ms-slide__image-container {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.ms--images .ms-slide__image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.ms--numbers {
  position: relative;
  overflow: hidden;
}

.ms--numbers.ms-container--horizontal {
  width: 240px;
  height: 240px;
  max-width: 100%;
}

.ms--numbers.ms-container--horizontal .ms-track {
  left: calc(50% - 120px);
}

.ms--numbers.ms-container--horizontal .ms-slide {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.ms--numbers .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--numbers .ms-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 240px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--numbers {
  position: absolute;
  left: calc(50% - 380px);
  top: calc(50% - 300px);
  z-index: -1;
  pointer-events: none;
}

.ms--numbers .ms-slide {
  font-size: 9em;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.2);
}

.ms--titles {
  position: relative;
  overflow: hidden;
}

.ms--titles.ms-container--vertical {
  width: 400px;
  height: 170px;
  max-height: 100%;
}

.ms--titles.ms-container--vertical .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: calc(50% - 85px);
}

.ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  top: auto;
  bottom: calc(50% - 85px);
}

.ms--titles.ms-container--vertical .ms-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms--titles .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--titles .ms-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  height: 170px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--titles {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% - 85px);
  z-index: 1;
  pointer-events: none;
}

.ms--titles .ms-track {
  white-space: normal;
}

.ms--titles .ms-slide {
  font-size: 3.3em;
  font-weight: 600;
}

.ms--titles .ms-slide h3 {
  margin: 0;
  text-shadow: 1px 1px 2px black;
}

.ms--links {
  position: relative;
  overflow: hidden;
}

.ms--links.ms-container--vertical {
  width: 120px;
  height: 60px;
  max-height: 100%;
}

.ms--links.ms-container--vertical .ms-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: calc(50% - 30px);
}

.ms--links.ms-container--vertical .ms-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms--links .ms-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ms--links .ms-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ms--links {
  position: absolute;
  left: calc(50% - 420px);
  top: calc(50% + 105px);
  z-index: 1;
}

.ms--links .ms-track {
  white-space: normal;
}

.ms--links .ms-slide__link {
  font-weight: 600;
  padding: 5px 0 8px;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(50% - 420px);
  top: calc(100%);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1;
}

.pagination__button {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination__button:before, .pagination__button:after {
  content: '';
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  width: 100%;
  -webkit-box-shadow: 0 1px 0 #0B0D14;
          box-shadow: 0 1px 0 #0B0D14;
}

.pagination__button:before {
  height: 2px;
  background-color: #6A3836;
}

.pagination__button:after {
  height: 3px;
  background-color: #DC4540;
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.pagination__item--active .pagination__button:after {
  opacity: 1;
}

@media screen and (max-width: 860px) {
  .ms--numbers {
    left: calc(50% - 120px);
  }
  .ms--titles {
    left: calc(50% - 200px);
    top: calc(50% - 135px);
    text-align: center;
  }
  .ms--links {
    left: calc(50% - 60px);
    top: calc(50% + 80px);
  }
  .pagination {
    left: 50%;
    top: calc(100% - 50px);
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 600px) {
  .ms--images {
    overflow: visible;
  }
}

@media screen and (max-width: 400px) {
  .ms--titles .ms-slide {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #1B1C21;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
}

.container:before {
  content: '';
  position: absolute;
  left: -150%;
  top: 0;
  width: 300%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.header__logo {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: -1px;
}

.header__logo span {
  display: inline-block;
  -webkit-transform: translateY(4px) rotate(180deg);
      -ms-transform: translateY(4px) rotate(180deg);
          transform: translateY(4px) rotate(180deg);
  pointer-events: none;
}

.header__menu {
  margin-left: auto;
}

.header__menu__list, .footer__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__link {
  margin-left: 50px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

.footer__menu__link {
  margin-left: 50px;
  color: rgba(255, 255, 255, 0.5);
}

.sliders-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 860px) {
  .header__menu, .footer {
    display: none;
  }
}
