@import "ms-portfolio-carousel";

$color-primary: rgba(255, 255, 255, 1);
$color-secondary: rgba(255, 255, 255, 0.5);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $color-primary;
  background-color: #1B1C21;
  overflow: hidden;
}

a {
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    left: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    z-index: -1;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 30px;
}

.header__logo {
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: -1px;

  span {
    display: inline-block;
    transform: translateY(4px) rotate(180deg);
    pointer-events: none;
  }
}

.header__menu {
  margin-left: auto;
}

.header__menu__list, .footer__menu__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu__link {
  margin-left: 50px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
}

.footer__menu__link {
  margin-left: 50px;
  color: $color-secondary;
}

.sliders-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}


// Hide header menu and footer in small screens

@media screen and (max-width: 860px) {
  .header__menu, .footer {
    display: none;
  }
}
